@font-face {
  font-family: RobotoMedium;
  src: url(./fonts/Roboto_Condensed-Medium.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(./fonts/Roboto_SemiCondensed-Bold.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(./fonts/Roboto_Condensed-Light.ttf);
}
.App {
  text-align: left;
  /* background-color: #f5f0cd; */
}
.footer {
  background-color: #3674B5;
  color: #fff;
}
.roboto_bold {
  font-family: RobotoBold;
}
.roboto_light {
  font-family: RobotoMedium;
}
.card
{
  background-color: #FADA7A !important;
  border: none !important;
  outline: none !important;
}
.content
{
  height: 100px;
}